
@{
    ViewBag.Title = "Index";
}


<html>
<head>
    <link rel="stylesheet" href="~/Content/css/index-css.css"/>
</head>
 <body>
    <div class="banner">
           <img src=""
    </div>
 </body>

</html>

